{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}

<style>
    li {
        display: inline-block;
        padding: 20px;
    }
    li a:hover {
        text-decoration: underline;
    }
    li a {
        text-decoration: none;
    }
</style>
    <p><a href="/tell-me">Contact Us</a></p>
    <p><a href="{{ path('tell me - advanced -- list') }}">Contact Us (advanced)</a></p>
{% endblock %}
